.background {
  color: #f2eee9;
  background-color: #5c5852;
  height: 100vh;
  width: 100vw;
}

.app {
  text-align: center;
  display: flex;
  width: 100%;
  height: 100%;
}

.app-wrapper {
  margin-top: 10px;
  margin: auto;
  width: auto;
  height: auto;
  border: 2px solid #f2eee9;
  border-radius: 20px;
  background-color: #003f8c;
  padding: 40px;
  padding-top: 0px;
  padding-bottom: 15px;
  max-height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  align-items: top;
}

.h1 {
  margin: 1px;
}

.button-container {
  height: 100%;
  margin-bottom: 20px;
}

.button {
  color: #f2eee9;
  background-color: #003f8c;
  border: none;
  border-bottom: 2px solid #f2eee9;
  text-align: center;
  font-size: 16px;
  margin: 4px;
  cursor: pointer;
  width: auto;
}

.matrix {
  height: 230px;
  width: 500px;
}

.table-container {
  display: inline-block;
  height: 260px;
}

.table-wrapper {
  animation: fadeIn 1s;
  float: left;
  height: 275px;
  justify-content: center;
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 36px;
  padding: 5px;
}

.input-text {
  color: #f2eee9;
  background-color: #003f8c;
  border: none;
  width: 25px;
  height: 50px;
  font-size: 36px;
  text-align: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.results-container {
  margin-top: 20px;
  overflow: auto;
}

.result-header {
  font-size: 24px;
  border-bottom: 2px solid;
  padding: 10px;
}

.result-item {
  font-size: 16px;
  list-style-type: none;
}

.results-list {
  column-count: 6;
}

.no-results-item {
  font-size: 20px;
  list-style-type: none;
  color: #f2eee9;
  padding: 2rem;
}
