.app {
  text-align: center;
  background-color: #003f8c;
  color: #f2eee9;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: auto;
  width: 100%;
}

.button {
  background-color: #f2eee9;
  color: #003f8c;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  width: 25vh
}

.app-wrapper {
  display: flex;
  overflow: auto;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  height: 50vh;
  border: 5px solid #f2eee9;
  border-radius: 10px;
  background-color: #003f8c;
  height: 500px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 24px;
  font-weight: bold;
}

.input-text {
  color: #f2eee9;
  background-color: #003f8c;
  border: none;
  width: 25px;
  height: 50px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.table-wrapper {
  height: 275px;
  justify-content: center;
  display: flex;
}