.app {
  text-align: center;
  background-color: #003f8c;
  color: #f2eee9;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.button {
  color: #f2eee9;
  background-color: #003f8c;
  border: 3px solid #f2eee9;
  padding: 10px 25px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  width: 25vh;
  font-weight: bold;
}

.app-wrapper {
  overflow: auto;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  height: 50vh;
  border: 3px solid #f2eee9;
  border-radius: 10px;
  background-color: #003f8c;
  height: 700px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 24px;
  font-weight: bold;
}

.input-text {
  color: #f2eee9;
  background-color: #003f8c;
  border: none;
  width: 25px;
  height: 50px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.table-wrapper {
  float: left;
  height: 275px;
  justify-content: center;
  display: flex;
}

.settings {
  margin: 10px;
}

.settings-button {
  color: #f2eee9;
  color: #003f8c;
  padding: 5px 10px;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}

.header {
  font-weight: bold;
  align-items: top;
  border-bottom: 3px solid;
}

.matrix {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table-container {
  display: inline-block;
  height: 260px;
}

.results-container {
  border-top: 3px solid #f2eee9;
  margin-top: 20px;
}

.loading {
  padding-top: 70px;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  animation-duration: 3s;
  animation-delay: 3s;
}

.result-item {
  font-size: 26px;
  font-weight: bold;
  list-style-type: none;
}

.results-list {
  column-count: 6;
}

.no-results-item {
  font-size: 26px;
  font-weight: bold;
  list-style-type: none;
  color: #f2eee9;
  padding: 2rem;
}

.result-header {
  font-size: 26px;
  font-weight: bold;
  border-bottom: 3px solid;
  padding-bottom: 20px;
}